*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/*Changing the font in the body*/
body{
	font-family: Arial, Helvetica, sans-serif;
}
/*Changing the menu bar colour and text alignment*/
.menu-bar{
	background-color:black;
	text-align: center;
}
/*Aligning the words and changing colour*/
.menu-bar ul{
	display: inline-flex;
	list-style:none;
	color:white;
}

.menu-bar ul li{
    width:250px;
    margin:15px;
	padding:15px;
}
/*removing the dots and changing the colour of the text */
.menu-bar ul li a{
    text-decoration: none;
    color:white;	
}
/*Making the background grey when hovering over text*/
.active, .menu-bar ul li:hover{
	background-color: gray;
	color: white;
	border-radius:3px;
}


.drop-menu-1{
	display: none;
}
/*Makes a drop menu when text is hovered over*/
.menu-bar ul li:hover .drop-menu-1{
	display: block;
	position: absolute;
	background: black;
	margin-top: 15px;
	margin-left:15px;
}

.menu-bar ul li:hover .drop-menu-1 ul{
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .drop-menu-1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius:0;
	text-align: left;
}

.menu-bar ul li:hover .drop-menu-1 ul li:last-child{
	border-bottom: none;
}

.menu-bar ul li:hover .drop-menu-1 ul li a:hover{
	color: rgb(102,255,255);
}
/*Placing the fotter at the bottom and making the background colour and text colour*/
footer{
	padding: 10px;
	text-align: center;
	margin-top: 1px;
	background-color: black;
	color: white;
	top:112px ;
	position: relative;
	width:100%;
	margin:auto;

}
