*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/*Changing the text in the body*/
body{

	 
	 font-family: Arial, Helvetica, sans-serif;
}
/*making navigation drop menu to black background*/
.menu-bar{
	background-color:black;
	text-align: center;
}
/*Lining the list horizontally and making the font white*/
.menu-bar ul{
	display: inline-flex;
	list-style:none;
	color:white;
}

.menu-bar ul li{
    width:250px;
    margin:15px;
	padding:15px;
}
/*removing the dots next to the list and changing the text to white*/
.menu-bar ul li a{
    text-decoration: none;
    color:white;	
}
/*making the background grey when hovering over the text on the nav bar*/
.active, .menu-bar ul li:hover{
	background-color: gray;
	color: white;
	border-radius:3px;
}


.drop-menu-1{
	display: none;
}
/*Creating a drop menu when the text is hovered over*/
.menu-bar ul li:hover .drop-menu-1{
	display: block;
	position: absolute;
	background: black;
	margin-top: 15px;
	margin-left:15px;
}

.menu-bar ul li:hover .drop-menu-1 ul{
	display: block;
	margin: 10px;
}
/*Making the border between each element of the drop menu dotted*/
.menu-bar ul li:hover .drop-menu-1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius:0;
	text-align: left;
}

.menu-bar ul li:hover .drop-menu-1 ul li:last-child{
	border-bottom: none;
}

.menu-bar ul li:hover .drop-menu-1 ul li a:hover{
	color: rgb(102,255,255);
}

/*Placing the footer at the bottom of the page*/
footer{
	padding: 10px;
	text-align: center;
	margin-top: 1px;
	background-color: black;
	color: white;
	bottom: 0px;
	position: relative;
	width:100%;
	margin:auto;

}
/*Centering the text*/
.first-details {
	text-align: center;
}
/*Underling the text and changing the colour to red*/
.first-details h3{
	text-decoration: underline;
	color: red
}

.second-details{
	text-align: center;
}

.second-details h3{
	text-decoration: underline;
	color: red;
}
/*Changing the colour*/
.second-details li{
    color:blue;	
}
/*Making the list dots square*/
.schools li{
    list-style: square;	
}
/*Giving a margin of 2 px between each box*/
.table-box{
    margin: 2px auto;	
}
/*Changing aspects of the table row such as the font; size, colour and box shadow*/
.table-row{
	display: table;
	width: 60%;
	margin:10px auto;
	font-family: sans-serif;
	background: transparent;
	padding:6px 0;
	color: #555;
	font-size: 13px;
	box-shadow: 0 1px 4px 0 rgb(0,0,50);
}
/*Changing the width of each cell*/
.table-cell{
    display: table-cell;
    width: 30%;
	text-align: center;
	padding: 4px 0;
	border-right: 1px solid #d6d4d4;
	vertical-align: middle;
}
/*Removing the box shadow from the top box and making the text heavier*/
.table-head{
	background:#8665f7;
	box-shadow: none;
	color:#fff;
	font-weight:600;
}
/*Removing the right border */
.table-head .table-cell{
	border-right:none;
}

.last-cell{
	border-right:none;
}
/*Moving the text in the first box to the left*/
.first-cell{
    text-align:left;
	padding:10px;
}
/*Centering the text in the last box*/
.third-details{
	text-align: center;
}                                  
/* underlining the text and changing it red*/
.third-details h3{
	text-decoration: underline;
	color: red;
}

.third-details li{
	color: blue;
	text-decoration: underline;
}

